
:root {
    --bluebase: #899DB1;
    --darkblue: #687E93;
    --yellow: #FEB914;
    --lightblue: #E4EAED;
    --white: #FFFFFF;
    --black: #000000;
    --greyblue: #637275;
    
}

@charset 'utf-8';

// Helpers Styles
@import "helpers/_mixins";
@import "helpers/_variables";

// Base Styles
@import "base/_normalize";
@import "base/_base";
@import "base/_typography";

// Components Styles
@import "components/_buttons";
@import "components/_forms";
@import "components/_navigation";

// Layout Styles
@import "layout/_header";
@import "layout/_footer";

// Sections Styles
@import "sections/_hero";

