#heroimages{
   background-color: var(--white);
    display: grid; 
    grid-template-columns: 1fr;
    text-align: center;




@include md{
    ul{
        display: grid;
        grid-template-columns: 2fr 1fr;
        
    }
}

@include lg{
    ul{
        display: grid;
        grid-template-columns: 2fr 1fr;
       
    }
}

}