#subhero{
    display: grid;
    grid-template-columns: 1fr;

    div.left{
        background-color: var(--bluebase);
    }
    
    div.right{
        background-color: var(--bluebase);
    }

    @include md{
        grid-template-columns: 1fr 1fr;
    }

    @include lg{
        grid-template-columns: 1fr 1fr;
    }
           
        }

#subinfo{
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--lightblue);


    
    @include md{
         grid-template-columns: 1fr 1fr;  
    }

    @include lg{
        grid-template-columns: 1fr 1fr;  
        
   }

}