footer{
    background-color: var(--bluebase);
    color: var(--black);
    padding: 25px 0;
    text-align: center;

    div.newsletter{

    }
    
    div.locations{

    }

        a{
            background-color: var(--bluebase);
            color: var(--white);
            padding: 20px;
            margin: 100px;
        }
    
    
        a.hover{
            background-color: var(--lightblue);

        }

    @include md{
            margin: 0;
            flex-flow: column;
            display: grid;
            grid-template-columns: 1fr 1fr;
                }

    @include lg{
             margin: 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr; 
            }
         
        
}