/* =============
    Header
============= */
header{

    background-color: var(--bluebase);
    color: var(--black);
    padding: 25px 0;
    padding-bottom: 0px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
   
  

    section{
        padding: 24px;
       
            background-color: var(--white);
            padding: 25px 0;
            padding-bottom: 25px;
    
        font#searcharea{

        display: flex;
        width: 100%;
        align-items:stretch;
        justify-content: space-between;
        gap: 10px;
        }
        input{
            border: none;
            border-bottom: 1px solid var(--bluebase);
            width: 75%;
        }
        button{
            background-color: var(--yellow);
            border-radius: 3.5px;
            border: none;
            padding: 6px 11px 6px 11px;
        }

        img{

        }
    

}



nav{
    background-color: var(--bluebase);
    padding: 0;
    display: flex;

    div{
        display: none;        
    }

    @include md{
        display: inline;
        padding-left: 17px;
    }

    img{
        width: 100px;

    }

    h1{

    }

    h3{

    }

}

}



